<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A组</key>
	<array>
		<dict>
			<key>name</key>
			<string>小龙虾</string>
			<key>image</key>
			<string>th</string>
		</dict>
		<dict>
			<key>name</key>
			<string>披萨</string>
			<key>image</key>
			<string>th2</string>
		</dict>
	</array>
	<key>B组</key>
	<array>
		<dict>
			<key>name</key>
			<string>甜甜圈</string>
			<key>image</key>
			<string>th3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>汉堡</string>
			<key>image</key>
			<string>th4</string>
		</dict>
	</array>
	<key>C组</key>
	<array>
		<dict>
			<key>name</key>
			<string>烤肉</string>
			<key>image</key>
			<string>th5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>蛋糕</string>
			<key>image</key>
			<string>th6</string>
		</dict>
	</array>
	<key>D组</key>
	<array>
		<dict>
			<key>name</key>
			<string>包子</string>
			<key>image</key>
			<string>th7</string>
		</dict>
		<dict>
			<key>name</key>
			<string>果汁</string>
			<key>image</key>
			<string>th8</string>
		</dict>
	</array>
	<key>E组｀</key>
	<array>
		<dict>
			<key>name</key>
			<string>核桃</string>
			<key>image</key>
			<string>th9</string>
		</dict>
		<dict>
			<key>name</key>
			<string>寿司</string>
			<key>image</key>
			<string>th10</string>
		</dict>
	</array>
</dict>
</plist>
