<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AddDelCell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B87C78C9226702D4007D49F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B87C78DD226702D4007D49F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B87C78E8226702D4007D49F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
